{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<style>

		.body {
			margin: 0;
			padding: 0;
		}

		.nav-bar {
			display: flex;
			justify-content: space-between;
			background: #F0EBE3;
			color: #7D9D9C;
			align-items: center;
			padding: 0 10px;
			text-transform: uppercase;
		}

		.content {
			margin: 2em;
		}

		.learn {
			display: flex;
			justify-content: space-between;
		}
		.learn-box {
			width: 32%;
			border: 1px solid black;
			border-radius: 20px;
			padding: 0 1em;
			margin: 0 1em;
		}

		.learn-box:hover {
			background: #F0EBE3;
		}

		.center {
			text-align: center;
		}

		.command {
			background: #F0EBE3;
			border: 1px solid #576F72;
			padding: 1em;
		}

		.command-header {
			margin-top: 3em;
		}
	</style>

	<div
		class="body">


		<!--Nav Bar-->
		<div class="nav-bar">
			<p>Symfony</p>
			<h1>Home</h1>
			<a href="https://symfony.com/doc/current/index.html" target="_blank">
				<p>Learn More</p>
			</a>
		</div>

		<!--MVC Modell-->
		<div class="content">
			<h2 class="center">- MVC -</h2>

			<div class="learn">
				<div class="learn-box">
					<h2 class="center">Model</h2>
					<p>manages behaviour and data of application</p>
					<ul>
						<li>response to requests</li>
						<li>updates data</li>
						<li>notifies changes in data</li>
					</ul>
				</div>
				<div class="learn-box">
					<h2 class="center">View</h2>
					<p>visualizes data</p>
				</p>
				<ul>
					<li>--> find in the
						<b>templates folder</b>
					</li>
					<li>files with
						<b>.html.twig</b>
						extenstion
					</li>
					<li>Sees User</li>
				</li>
			</ul>
		</div>
		<div class="learn-box">
			<h2 class="center">Controller</h2>
			<p>connects view to model</p>

			<ul>
				<li>--> find in the
					<b>src folder</b>
				</li>
			</li>
			<li>User uses Controller</li>
			<li>Controller manipulates</li>
		</ul>

	</div>
</div>
<!--Commands-->
<div>
	<h2>Important Commands</h2>

	<h4 class="command-header">Create Symfony Project in Terminal</h4>
	<span class="command">symfony new name_of_project --webapp</span>

	<h4 class="command-header">Open created Project in browser with VSC terminal</h4>
	<span class="command">symfony server:start</span>

	<h4 class="command-header">Create new Controller with VSC terminal</h4>
	<span class="command">php bin/console make:controller</span>


</div></div></div>{% endblock %}
